.min-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    margin: 4px;
    padding: 4px;
    box-shadow: 0px 2px 0px 1px #02020c7e;
}

.calculadora{
    min-width: 200px;
    border-radius: 32px;
    box-shadow: 0px 3px 0px 3px #02020c7e;
}

.cont-general{
    height: 100vh;
}

.display{
    border-radius: 15px;
    box-shadow: 0px 0px 0px 5px #02020c7e;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    height: 50px;
}

#valor-anterior{
    color: gray;
    font-size: 18px;
}

@media screen and (max-width:800px) {
    .cont-general{
        height: 100%;
    }
}